.row1 {
  width: 50%;
  /* margin-top: 20px; */
}
.row2 {
  width: 50%;
  margin-right: 250px;
  /* margin-top: 10px; */
}
.row {
  display: flex;
  margin: auto;
  /* padding-top: 50px; */
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.row1 .text {
  padding-bottom: 30px;
}
button {
  margin-left: 10px;
}
#result {
  width: 50%;

  margin-top: 10px;
}
.ex {
  display: flex;
  width: 100%;
  margin: auto;
}
.ex_1 {
  width: 50%;
}

.ex_2 {
  margin-top: 50px;
}
#result2 {
  margin-top: 10px;
}
